@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100vw;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* HTML: <div class="loader"></div> */

/* ____________________Loader__________________ */

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: #854f1d;
  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 6px),
    #0000 calc(100% - 5px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 13px),
    #000 calc(100% - 12px)
  );
  border-radius: 50%;
  animation: l19 2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px, 10px 100%;
  background-repeat: no-repeat;
}
.loader::after {
  transform: rotate(45deg);
}

@keyframes l19 {
  100% {
    transform: rotate(1turn);
  }
}

.center {
  width: 100%;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* _________________-Navbar___________________ */

.pre_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid #cec3b6;
  color: white;
  background-color: #70542f;
}

.pre_nav ul,
.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  cursor: pointer;
  position: relative;
}

.profile_circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile_circle img {
  width: 100%;
  border-radius: 50%;
}

.dropdown_menu {
  position: absolute;
  top: 38px;
  right: 25px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
  display: none;
}

.dropdown_menu.active {
  display: block;
}

.dropdown_menu ul {
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  width: 130px;
  align-items: start;
}

.dropdown_menu ul li {
  cursor: pointer;
  padding: 0px 0px 0px 15px;
  color: rgb(134, 132, 132);
  transition: all ease-in-out 0.1s;
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropdown_menu li:hover {
  color: rgb(50, 49, 49);
}

.nav_bar {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #cec3b6;
  color: white;
  background-color: #70542f;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_text h3,
.logo_text p {
  margin: 0;
  padding: 0;
}

.logo_text p {
  font-size: 0.9rem;
}

.logo img {
  width: 45px;
}

.nav_bar ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav_bar ul li {
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.nav_bar ul li:hover {
  color: #eaaa50;
}

/* _____________________Home______________________ */

.home_section {
  width: 100vw;
  color: white;
  background-color: #70542f;
}

.main {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  width: 80%;
  height: 100%;
}

.status {
  padding: 0px;
  border-bottom: 1px solid #cec3b6;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.codex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cec3b6;
}

.codex img {
  width: 70px;
  padding: 15px 0px;
}

.hamburger {
  display: none;
}

/* ________________--Update Password__________________ */

.lms_auth {
  background-color: #f1cfa4;
  height: auto;
  padding: 80px 0px 50px 0px;
}

.lms_auth_container {
  width: 100%;
  background-color: transparent;
}

.lms_form .group {
  border-radius: 0px;
  background-color: #faebd7;
}

.lms_form .group input {
  background-color: #faebd7;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

.lms_form button {
  width: 82%;
  border-radius: 0px;
  font-size: 1.1rem;
}

.lms_form button {
  background-color: #a96a3f;
}

.navigation {
  width: 100%;
  background-color: #70542f;
  color: white;
  font-size: 1.1rem;
  height: 50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* ___________________-Footer_________________ */

footer {
  min-height: auto;
  color: white;
  background-color: #70542f;
}

.footer_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #cec8c2;
  border-bottom: 2px solid #cbc3bb;
  padding: 20px 0px;
}

.line h3 {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.line ul li {
  font-size: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.line ul {
  padding: 0;
}

.social_link h3 {
  margin-bottom: 25px;
}

.links {
  display: flex;
  gap: 15px;
}

.end {
  padding: 15px 0px;
  text-align: center;
}

.footer_logo {
  margin-left: 140px;
  margin-bottom: 30px;
}

/* __________________Responsive___________________ */

@media screen and (max-width: 850px) {
  .flex {
    gap: 25px;
    flex-wrap: wrap;
  }

  .main_container {
    width: 100%;
  }

  .nav_bar {
    position: relative;
    justify-content: space-between;
  }

  .nav_bar ul {
    position: absolute;
    flex-direction: column;
    width: 100%;
    background-color: white;
    color: black;
    top: 45px;
    padding: 20px 0px;
    display: none;
  }

  .nav_bar ul.menu_active {
    display: flex;
  }

  .nav_bar ul a {
    color: black;
  }

  .hamburger {
    display: inline-block;
    padding-right: 25px;
  }

  .logo {
    padding-left: 20px;
  }

  .logo img {
    width: 35px;
  }

  .logo h3 {
    font-size: 1rem;
  }

  .logo p {
    font-size: 0.8rem;
  }

  footer {
    flex-direction: column;
  }

  .footer_log {
    padding: 0px 100px 20px 0px;
  }

  .footer_container {
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 25px;
  }

  .line {
    padding-right: 50px;
  }

  .line h3 {
    font-size: 1rem;
  }

  .line ul li {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 568px) {
  .flex {
    gap: 18px;
    padding: 0px 15px;
  }

  .flex li {
    font-size: 0.8rem;
  }

  .pre_nav {
    justify-content: space-between;
  }

  .pre_nav ul {
    padding-left: 10px;
    gap: 10px;
  }

  .profile {
    padding-right: 15px;
    gap: 10px;
  }

  .pre_nav ul li {
    font-size: 0.79rem;
  }

  .dropdown_menu ul{
    gap: 15px;
  }

  .navigation{
    font-size: 1rem;
  }

  .lms_form .group input{
    font-size: 0.9rem;
  }

  .lms_form button{
    font-size: 1rem;
    width: 86%;
  }
}

.academics,
.feedback,
.complain,
.timetable,
.dashboard,
.profile_page {
  height: 50vh;
  width: 100vw;
  color: white;
  background-color: #f1cfa4;
}
